XDRValidator/src/main/webapp/schemas/AccountDetailsServiceOperations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:account="urn:hl7-org:v3"  elementFormDefault="qualified">
	<xsd:import namespace="urn:hl7-org:v3" schemaLocation="AccountDetails.xsd"/>
	<xsd:element name="AccountDetailsRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="accountNumber" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AccountDetailsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AccountDetails" type="account:Account"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
